pydantic
paramiko
scp
numpy
six
ipython
wheel
https://github.com/qlibri/misoc/archive/master.zip
https://github.com/qlibri/migen/archive/master.zip
https://github.com/qlibri/migen-axi/archive/master.zip

toolz
ramda
